{
email {$CADDY_ADMIN_EMAIL}
}

# wger
{$WGER_DOMAIN} {
reverse_proxy wger:8080
}

# tandoor
{$TANDOOR_DOMAIN} {
reverse_proxy tandoor:8081
}

# n8n (protected by basic auth, but Caddy provides TLS)
{$N8N_DOMAIN} {
reverse_proxy n8n:5678
}

# grafana
{$GRAFANA_DOMAIN} {
reverse_proxy grafana:3000
}

