{
email {$CADDY_ADMIN_EMAIL}
}

# wger - Workout and exercise tracking
{$WGER_DOMAIN} {
reverse_proxy wger:8080
}

# recipes - Tandoor recipe management
{$RECIPES_DOMAIN} {
reverse_proxy tandoor:8081
}

# flow - n8n workflow automation
{$FLOW_DOMAIN} {
reverse_proxy n8n:5678
}

# dash - Grafana dashboards
{$DASH_DOMAIN} {
reverse_proxy grafana:3000
}
